@import 'base/variables';

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/reasons';
@import 'blocks/absolute_square';
@import 'blocks/services';
@import 'blocks/portfolio';
@import 'blocks/about';
