.about {
    padding-top: 70px;
    padding-bottom: 150px;

    &__logo {
        margin-top: 92px;
        text-align: center;
    }

    &__header {
        margin-top: -58px;
        text-align: center;
        /* Style for "Less is mo" */
        color: $color_subheader;
        font-size: 25px;
        font-weight: 400;
    }

    &__content {
        margin-top: 122px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__text-content {
        margin-top: 12px;
        max-width: 558px;
        text-align: left;
    }

    &__text {
        color: $color_subheader;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        margin-top: 24px;

        &_bold {
            /* Style for "Lorem ipsu" */
            color: #334752;
            font-size: 20px;
            font-weight: 800;
            line-height: 40px;
        }
    }

    @media (max-width: 650px) {

        padding-top: 30px;

        &__header {
            font-size: 15px;
            margin-top: -38px;
        }
    }

    @media (max-width: 430px) {
        &__header {
            font-size: 15px;
            margin-top: -28px;
        }
    }
}

.line {
    text-align: left;
    width: 271px;
    height: 2px;

    &_blue {
        margin-top: 55px;
        background-color: $first_color;
    }
}