.figures {
    position: relative;

    @media (max-width: 1500px) {
        display: none;
    }

    &__services-absolute-square {
        position: absolute;
        right: 44px;
        top: 50px;
    }

    &__about-absolute-square {
        position: absolute;
        left: 47px;
        top: 15px;
    }

    &_about {
        width: 470px;
        text-align: right;

        @media (max-width: 1500px) {
            display: none;
        }
    }

    &_about {
        position: relative;
        width: 50%;
        padding-right: 124px;
    }
}