.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $second_color;

    &__content {
        color: $color_white;
        font-size: 15px;
        font-weight: 800;

        & span {
            color: $first_color;
        }
    }
}