.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    position: relative;
}

.logo__menu {
    position: relative;
}

@media (max-width: 430px) {
    .logos {
        height: 40px;
    }
}