.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    position: relative;

    @media (max-width: 430px) {
        height: 40px;
    }
}

.logo__menu {
    position: relative;
}

