#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn {

    & span,
    & span::before,
    & span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    & span::before {
        content: '';
        top: -8px;
    }

    & span::after {
        content: '';
        top: 8px;
    }
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 29.5px 0;
    padding-top: 70px;
    list-style: none;
    text-align: left;
    background-color: #2c4755;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu-box__header {
    margin-left: 29.5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #637988;
}

.menu-box__subheader {
    list-style: none;
    margin-left: -10px;
    margin-bottom: 29.5px;
}

.menu-box__item {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: $color_white;
    margin-bottom: 7px;

    &_large {
        font-size: 26px;
    }

    &_select {
        color: $color_blue;
    }
}

.menu-box__item:hover {
    background-color: #CFD8DC;
}

@media (max-width: 650px) {

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu-box {
        visibility: visible;
        right: 2.5%;
        z-index: 0;
        top: 10px;
        width: 95%;
    }

    #menu__toggle:checked~.menu__btn {
        left: 9%;
        top: 40px;
        position: fixed;
        z-index: 1;
    }
}