.promo {
    height: 460px;
    background-color: $back_color;
    padding-top: 55.5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        color: $first_color;
        font-size: 55px;
        font-weight: 800;
        text-align: center;
    }

    &__subheader {
        max-width: 375px;
        color: $second_color;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin-top: 31px;
        line-height: 1.6;
    }
}

@media (max-width: 650px) {

    .promo {
        padding-top: 25px;
        height: 230px;

        &__header {
            font-size: 40px;
        }

        &__subheader {
            font-size: 15px;
        }
    }
}