.reasons {
}

.reason {
    display: inline-block;
    padding: 86px 0 69px 0;
    width: 33%;
    &-item {
        max-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__header {
            margin-top: 50px;
            color: #2c4755;
            font-size: 20px;
            font-weight: 800;
        }

        &__subheader {
            margin-top: 35px;
            width: 269px;
            color: #575757;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            line-height: 32px;
        }
    }

    &_shadow {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}