.services {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;

    &__header {
        margin-top: -58px;
        color: $color_subheader;
        font-size: 25px;
        font-weight: 400;

        @media (max-width: 650px) {
            font-size: 15px;
            margin-top: -38px;
        }

        @media (max-width: 430px) {
            font-size: 15px;
            margin-top: -28px;
        }
    }

    &__wrapper {
        margin-top: 92px;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        max-width: 66%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 56px;

        @media (max-width: 1500px) {
            max-width: 100%;
            justify-content: space-around;
        }
    }

    @media (max-width: 650px) {
        padding-top: 30px;
    }
}

.item {
    text-align: left;
    display: flex;
    margin-bottom: 46px;
    width: 50%;

    &__icon {
        margin-top: 5px;
        margin-left: 3px;
    }

    &__content {
        width: 100%;
        margin-left: 50px;

        @media (max-width: 430px) {
            margin-left: 15px;
        }
    }

    &__header {
        /* Style for "Web Design" */
        color: $text_theme_color;
        font-size: 20px;
        font-weight: 800;
    }

    &__text {
        margin-top: 39px;
        color: $color_subheader2;
        font-size: 15px;
        font-weight: 400;
    }
}