.services {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;

    &__header {
        margin-top: -20px;
        color: #575757;
        font-size: 25px;
        font-weight: 400;
    }

    &__wrapper {
        margin-top: 92px;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        max-width: 66%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 56px;
    }
}

.item {
    text-align: left;
    display: flex;
    margin-bottom: 46px;
    width: 50%;

    &__icon {
        margin-top: 5px;
        margin-left: 3px;
    }

    &__content {
        width: 100%;
        margin-left: 50px;
    }

    &__header {
        /* Style for "Web Design" */
        color: #1f2021;
        font-size: 20px;
        font-weight: 800;
    }

    &__text {
        margin-top: 39px;
        color: #4d4c4c;
        font-size: 15px;
        font-weight: 400;
    }
}
