.services {
    margin-top: 70px;
    text-align: center;

    &__header {
        margin-top: -20px;
        color: #575757;
        font-size: 25px;
        font-weight: 400;
    }

    &__wrapper {
        margin-top: 92px;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        width: 745px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 56px;
    }

    &__figures {
        position: relative;
    }

    &__square {

        &_absolute {
            position: absolute;
            right: 44px;
            top: 50px;
        }
    }
}

.item {
    display: flex;
    justify-content: center;
    width: 369px;
    text-align: left;

    &__icon {
        margin-top: 3px;
        margin-left: 3px;
    }

    &__content {
        width: 253px;
        margin-left: 50px;
    }

    &__header {
        /* Style for "Web Design" */
        color: #1f2021;
        font-size: 20px;
        font-weight: 800;
    }

    &__text {
        margin-top: 39px;
        color: #4d4c4c;
        font-size: 15px;
        font-weight: 400;
    }
}